{% extends "base.html" %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="col-md-4 mx-auto mt-5">
  <h3 class="mb-4">Neues Passwort setzen</h3>
  <form method="POST" action="{{ url_for('reset_password', token=request.view_args.token) }}">
    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input class="form-control" type="password" name="password" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input class="form-control" type="password" name="confirm_password" required>
    </div>
    <button class="btn btn-success w-100">Set Password</button>
  </form>
</div>
{% endblock %}
